<%- include('../partials/admin_sidenav.ejs') %>
      <section class="rightside">
      <div class="right-question-section">
        <h1>Add Question Here</h1>
        <form action="/iq/create/nonverbal/<%= data.exam_code %>/edit" method="post">
          <div class="addquestion">
            <div class="ques-exp">
              <textarea name="question" placeholder="write question here..."></textarea>
            </div>
            <div class="ques-exp">
              <input type="text" placeholder="Image Link" name="question_image" class="imagelink1">
            </div>
            <div class="image-container1"></div>
  
            <div class="options">
              <input type="radio" name="answer" value="1">
              <input type="text" placeholder="Choice 1" name="choice1" value="1">
            </div>

            
            <div class="options">
              <input type="radio" name="answer" value="2">
              <input type="text" placeholder="Choice 2" name="choice2" value="2">
            </div>
            <div class="options">
              <input type="radio" name="answer" value="3" checked>
              <input type="text" placeholder="Choice 3" name="choice3" value="3">
            </div>
            <div class="options">
              <input type="radio" name="answer" value="4">
              <input type="text" placeholder="Choice 4" name="choice4" value="4">
            </div>
            <div class="options">
              <input type="radio" name="answer" value="5">
              <input type="text" placeholder="Choice 5" name="choice5" value="5">
            </div>
            <div class="options">
              <input type="radio" name="answer" value="6">
              <input type="text" placeholder="Choice 6" name="choice6" value="6">
            </div>
            <div class="ques-exp">
              <textarea name="explanation" placeholder="write explanation here..."></textarea>
            </div>
            <div class="ques-exp">
              <input type="text" placeholder="Image Link" name="explanation_image" class="imagelink2">
            </div>
            <div class="image-container2"></div>
            <div class="ques-exp">
              <textarea name="explanation_extra" placeholder="write explanation here..."></textarea>
            </div>
            <div class="buttons">
              <input type="submit" value="Save" class="button">
            </div>
          </div>
        </form>

        
      <h1>Edit Question Here</h1>

<% content.forEach(function(question) { %>
  <form action="/iq/create/nonverbal/<%= data.exam_code %>/update?id=<%= question.id %>" method="post" class="ajaxForm">
    <div class="addquestion">
      <div class="ques-exp">
        <textarea name="question" placeholder="write question here..."><%= question.question %></textarea>
      </div>
      <div class="ques-exp">
        <input type="text" placeholder="Image Link" name="question_image" value="<%= question.question_image %>" class="imagelink1">
      </div>
      <div class="image-container1"><img src="<%= question.question_image %>" alt="" class="imageques"></div>
      <div class="options">
        <input type="radio" name="answer" value="1" <%= question.answer === '1' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 1" name="choice1" value="<%= question.choice1 %>">
      </div>
      <div class="options">
        <input type="radio" name="answer" value="2" <%= question.answer === '2' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 2" name="choice2" value="<%= question.choice2 %>" >
      </div>
      <div class="options">
        <input type="radio" name="answer" value="3" <%= question.answer === '3' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 3" name="choice3" value="<%= question.choice3 %>"> 
      </div>
      <div class="options">
        <input type="radio" name="answer" value="4" <%= question.answer === '4' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 4" name="choice4" value="<%= question.choice4 %>">
      </div>
      <div class="options">
        <input type="radio" name="answer" value="5" <%= question.answer === '5' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 5" name="choice5" value="<%= question.choice5 %>">
      </div>
      <div class="options">
        <input type="radio" name="answer" value="6" <%= question.answer === '6' ? 'checked' : '' %>>
        <input type="text" placeholder="Choice 6" name="choice6" value="<%= question.choice6 %>">
      </div>
      <div class="ques-exp">
        <textarea name="explanation" placeholder="write explanation here..."><%= question.explanation %></textarea>
      </div>
      <div class="ques-exp">
        <input type="text" placeholder="Image Link" name="explanation_image" value="<%= question.explanation_image %>" class="imagelink2">
      </div>
      <div class="image-container2"><img src="<%= question.explanation_image %>" class="imageques" alt=""></div>
      <div class="ques-exp">
        <textarea name="explanation_extra" placeholder="write explanation here..."><%= question.explanation_extra %></textarea>
      </div>
      <div class="buttons">
        <input type="submit" value="Update" class="button"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button"><a href="/iq/create/nonverbal/<%= data.exam_code %>/question?delete=<%= question.id %>">Delete</a></button>
      </div>
      <div class="message"></div>
    </div> 
  </form>   
<% }) %>


      </div>
      </section>
  </body>
</html>





<script>
     function showMessage(form, message) {
   // Update message div with new message
   form.find('.message').text(message);
   
   // Show message div
   form.find('.message').show();
   
   // Hide message div after 10 seconds
   setTimeout(function() {
     form.find('.message').hide();
   }, 5000);
   }
   
   
   $(document).on('change', '.ajaxForm', function() {
   var form = $(this);
   var url = form.attr("action");
   var formData = form.serialize();
   $.ajax({
     type: "POST",
     url: url,
     data: formData,
     success: function(value) {
       showMessage(form,"Question updated!")
       console.log('data updated successfully');
     },
     error: function(error) {
       console.log(error);
     }
   });
   });




   


$(function() {
  // Attach a listener to the text input
  $(document).on('input','.imagelink1, .imagelink2', function() {
    // Get the value of the text input
    var imageLink = $(this).val();
    
    // Get the parent form and the container div
    var $form = $(this).closest('form');
    var $container1 = $form.find('.image-container1');
    var $container2 = $form.find('.image-container2');
    
    // Determine which input triggered the event
    if ($(this).hasClass('imagelink1')) {
      // Update the image in the container div for imagelink1
      $container1.html('<img class="imageques" alt="" src="' + imageLink + '">');
    } else {
      // Update the image in the container div for imagelink2
      $container2.html('<img class="imageques" alt="" src="' + imageLink + '">');
    }
  }).trigger('input'); // trigger the input event when the page loads
});

</script>